$input-border-color: #dcdfe6;
$input-background-color: #fff;
$input-font-size: vm(16);
$input-height: vm(40 + 1);
$input-line-height: vm(40);
$inpit-border-radis: 4px;
$input-color: #606266;
$input-check-color: #4B92E3;
.hy-input{
	position: relative;
	input{
		width: 100%;
		display: inline-block;
		-webkit-appearance: none;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		background-image: none;
		vertical-align:middle;
		outline: 0;
		padding: 0 vm(30) 0 vm(10);
		border: 1px solid $input-border-color;
		background-color: $input-background-color;
		border-radius: $inpit-border-radis;
		color: $input-color;
		font-size: $input-font-size;
		height: $input-height;
		line-height: $input-line-height;
		// -webkit-transition: $border-color 5s cubic-bezier(.645,.045,.355,1);
		// transition: $border-color 5s cubic-bezier(.645,.045,.355,1);
	}
	.hy-input-suffix{
		position: absolute;
		top: vm(8);
		right: vm(10);
	}
	.hy-input-getCheck{
		font-size: $input-font-size;
		height: $input-height;
		line-height: $input-line-height;
		color: $input-check-color;
		position: absolute;
		top: 0;
		right: vm(10);
	}
}
