
@font-face {
  font-family: 'iconfont';  /* project id 793514 */
  src: url('//at.alicdn.com/t/font_793514_yd0seo5j9mm.eot');
  src: url('//at.alicdn.com/t/font_793514_yd0seo5j9mm.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_793514_yd0seo5j9mm.woff') format('woff'),
  url('//at.alicdn.com/t/font_793514_yd0seo5j9mm.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_793514_yd0seo5j9mm.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before { content: "\e635"; color: gray; font-size: 20px;}

.icon-loading:before { content: "\e643"; }

.icon-loading1:before { content: "\e61c"; }

.icon-loading2:before { content: "\e60a"; }

.icon-loading3:before { content: "\e600"; }

.icon-zhantingzhinengzhongkongxitong:before { content: "\e605"; }
